/*   
.results {
  display: flex;
  
} */

.nasa-image img {
  display: flex;
  justify-content: space-around;
  /* align-items: center; */
  flex-wrap: wrap;
  width: 25%;
  margin: auto;
  padding: 1%;
  

}



